@import './../utils.scss';

.contentWrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    max-width: 95%;
    margin-top: 32px;
    padding-left: 20px;
  }
  
  @include desktop {
    width: 90%;
  }
  
  @include desktop-wide {
    width: 85%;
    max-width: 1400px;
  }
}

.header {
  font-size: 3em;
  font-weight: normal;
  margin: -35px auto 80px;
  color: $mine-shaft-lighter;

  @include tablet {
    width: 190px;
    margin: -90px auto 180px;
  }
  
  @include tablet-wide {
    margin-bottom: 200px;
  }

  @include desktop-wide-m {
    margin-bottom: 280px;
  }
}