@import './../utils.scss';

.project {
  padding-top: 60px;
  
  @include desktop {
    padding-top: 120px;
  }
}

.header {
  @include home-heading(em(24));
  margin-bottom: 15px;
}

.copy {
  margin: 20px 0;
  font-size: 16px;
  line-height: 22px;
}

.link {
  display: inline-block;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: $nile-blue;
}

.linkIcon {
  width: 1em;
  height: 1.3em;
  margin: 2px 0 -2px 8px;
  fill: $nile-blue;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin: 50px auto;
  border: 1px solid $alto;

  @include desktop {
    margin: 100px auto;

    &:first-child {
      margin-top: 50px;
    }
  }
}

.mobileImage {
  max-width: 400px;
}

.tabletImage {
  max-width: 800px;
}