@import './utils.scss';

$icon-width: em(37);

.description {
  padding: 2em 2.4em 1.25em;
  font-size: 12px;

  @include phone-wide {
    font-size: 14px;
  }

  @include tablet {
    padding-bottom: 1.5em;;
    font-size: 16px;
  }

  @include tablet-wide {
    font-size: 14px;
  }

  @include desktop {
    margin: auto 0;
    font-size: 15px;
  }

  h1 {
    margin-top: 0;
    font-size: 1.8em;
    font-weight: 400;
    text-align-last: center;

    @include desktop {
      margin-bottom: 35px;
    }
  }

  p {
    margin: 22px 0;
    &:last-of-type {
      margin-bottom: em(12);
    }

    @include tablet {
      &:last-of-type {
        margin-bottom: em(18);
      }
    }
  }
}

.linkWrapper {
  text-align: center;

  @include desktop {
    margin-top: 50px;
  }
}

.link {
  display: inline-block;
  margin: 0 16px;
  padding: calc((48px - #{$icon-width}) / 2);

  @include desktop {
    margin: 7px 23px;
    padding: 0;
  }
}

.icon {
  width: $icon-width;
  height: $icon-width;
  fill: $dove-grey;
}

.skylineImg {
  display: none;
  width: auto;
  height: auto;

  @include tablet-wide {
    display: block;
    border-radius: 0 8px 8px 0;
  }
}
