@import './utils.scss';

.dialog {
  @include modal(#fff);
  border-radius: 8px;
  padding: 0;

  &[open] {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

  &::backdrop {
    opacity: 0;
  }

  @include tablet {
    max-width: 430px;
  }

  @include tablet-wide {
    display: flex;
    max-width: 39.3em;
    width: 730px;
    height: 30.6em;
  }

  @include desktop {
    width: 41.5em;
    height: 70vh;
    max-width: none;
    min-height: 500px;
    max-height: 700px;
  }
}

.content {
  @include tablet-wide {
    display: inherit;
  }

  @include desktop {
    &:hover {
      .close {
        opacity: 1;
      }
    }
  }
}

.close {
  position: absolute;
  padding: calc((48px - #{$close-icon-width}) / 2);
  top: em(6);
  right: em(6);
  line-height: 0;
  background: none;
  border: none;

  @include tablet-wide {
    top: 0.2em;
    right: 0.3em;
  }

  @include desktop {
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
  }
}
