.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  z-index: 50;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  
  &.show {
    pointer-events: auto;
    opacity: 0.5;
  }
}