@import './utils.scss';

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  height: em($header-height);
  padding: 0 em(8) 0 em(20);
  background-color: $nile-blue;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.75);
  z-index: 40;

  @include desktop {
    font-size: 22px;
    padding-left: 12%;
    padding-right: 7%;
  }
  
  @include desktop-wide {
    font-size: 24px;
  }
}



.logo {
  height: 2.25em;
  border: 3px solid #fff;
  border-radius: 7px;
  cursor: pointer;

  @include desktop {
    border-width: 4px;
  }
}

.logoText {
  color: #fff;
  font-size: 1.6em;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 1.25em;
  margin-left: 0.25em;
  margin-right: 0.15em;
}

/* -----------
  Mobile Nav
----------- */

.mobileNavToggleWrapper {
  padding: 10px 6px;
  margin-right: 5px;

  @include desktop {
    display: none;
  }
}

.mobileNavToggleBox {
  position: relative;
  width: 40px;
  height: 32px;
  cursor: pointer;
}

.mobileNavToggle {
  align-self: center;
  top: auto;
  bottom: 0;
  transition: transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.13s;

  &,
  &::before,
  &::after {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: -14px;
    transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
                transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::after {
    top: -28px;
    bottom: -10px;
    transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667,1) 0.2s,
                opacity 0.1s linear;
  }

  &.isActive {
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -14px, 0) rotate(-45deg);

    &::before {
      top: 0;
      transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, 
                  transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
      transform: rotate(-90deg);
    }

    &::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                  opacity 0.1s linear 0.22s;
      opacity: 0;
    }
  }
}
