@import './utils.scss';

.footer {
  position: relative;
  padding: 2.2em 1.5em 1.4em;
  color: $alto;
  background-color: $mine-shaft;
  text-align: center;
  border-top: 1px solid $boulder;
  z-index: 4;

  @include desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 2.5em;
  }
}

.copy {
  font-size: em(12);
  margin: 0 0 em(22);
  
  @include desktop {
    margin: 0;
    text-align: left;
  }
}

.small {
  display: inline-block;
  margin-top: 16px; 
}

.repoLink {
  text-decoration: underline;
}

.link {
  display: inline-block;
  margin: 0 em(16);
  padding: em(10);

  @include desktop {
    padding: 0;
  }
}

.icon {
  width: 1.75em;
  height: 1.75em;
}