@import './utils.scss';

.section {
  padding: em(40) em(38);
  background-color: #F5F5F5;
  z-index: 4;

  @include desktop {
    margin-top: -7.04607vw;
    transform: translateY(7.04607vw);
  }

  @include desktop-wide {
    font-size: 24px;
    padding-top: 3.3em;
  }
}

.headingWrapper {
  text-align: center;

  h2 {
    @include home-heading(em(28));
  }
}

.underline {
  width: em(103);
  height: 2px;
  background-color: $nile-blue;
  width: em(40);
  margin: 0 auto;

  @include desktop {
    height: 3px;
  }
}

.iconGroup {
  position: relative;
  width: em(298);
  margin: 0 auto em(58);

  @media (min-width: 550px) {
    font-size: 22px;
  }

  @include desktop {
    display: block;
    width: 42em;
    height: 19.5em;
    font-size: 19px;
    margin: 5em auto 12vw;
  }
}

.skillLines {
  display: none;

  @include desktop {
    display: block;
    margin: 0 auto;
    width: 42em;
    height: 19.5em;
    z-index: -1;
  }
}

.cssLines {
  display: block;
  width: em(260);
  margin: 0 auto;

  @include desktop {
    display: none;
  }
}

.jsLines {
  display: block;
  width: em(300);
  margin: 0 auto;

  @include desktop {
    display: none;
  }
}

.htmlIcon {
  display: block;
  width: em(97);
  margin: em(35) auto 0;

  @include desktop {
    bottom: 2.6em;
    left: 14.4em;
    width: 5.9em;
  }
}

.cssIcon {
  display: block;
  width: em(90);
  margin: em(35) auto 0;

  @include desktop {
    top: -3em;
    left: 2.5em;
    width: 5.5em;
  }
}

.jsIcon {
  width: em(108);
  display: block;
  margin: em(100) auto em(15);

  @include desktop {
    top: 2.85em;
    right: 4.6375em;
    width: 6.375em;
  }
}

.styledComponents {
  display: inline;
  position: absolute;
  bottom: 5.38em;
  right: 0.85em;
  font-size: 39.9px;
  cursor: default;
  
  @include phone-wide {
    font-size: 45px;
  }

  @media (min-width: 550px) {
    font-size: 55px;
  }

  @include tablet {
    font-size: 60px;
  }

  @include tablet-wide {
    font-size: 65px;
  }

  @include desktop {
    position: absolute;
    display: inline-block;
    width: 1.15em;
    height: 1.15em;
    font-size: 44px;
    top: 3.5em;
    left: -0.45em;
  }

  @include desktop-wide {
    font-size: 50px;
  }

  @include desktop-wide-m {
    font-size: 55px;
  }
}

.emotionIcon {
  position: absolute;
  bottom: em(222);
  right: em(-20);
  width: em(42);
  margin: 0;

  @include desktop {
    top: 6em;
    left: -3.6em;
  }
}

.reduxIcon {
  display: none;

  @include desktop {
    display: block;
    width: em(36);
    top: 2.45em;
    right: 14.6em;
  }
}

.storybookIcon {
  display: none;

  @include desktop {
    display: block;
    width: 46px;
    right: 2.1em;
    top: -2.5em;
  }
}

.reactIcon {
  width: em(44);
  position: absolute;
  left: em(-22);
  bottom: em(-50);

  @include desktop {
    width: 3.6em;
    top: -2.7em;
    left: unset;
    right: 12.8em;
  }
}

.nextjsIcon {
  width: em(44);
  position: absolute;
  left: em(50);
  bottom: em(-54);

  @include desktop {
    width: 2.9em;
    top: -3.4em;
    left: unset;
    right: 5.6em;
  }
}

.typescriptIcon {
  width: em(44);
  position: absolute;
  right: em(126);
  bottom: em(-54);

  @include desktop {
    width: 3em;
    right: -3.6em;
    top: 1.2em;
  }
}

.webpackIcon {
  width: 3em;
  position: absolute;
  right: em(46);
  bottom: em(-56);

  @include desktop {
    bottom: 7.9em;
    right: -2.75em;
    width: 3.2em;
    height: 3.2em;
  }
}

.jestIcon {
  width: em(30);
  position: absolute;
  right: 0em;
  bottom: em(-48);

  @include desktop {
    bottom: 1.4em;
    right: 4.8em;
    width: 2.2em;
    height: 2.2em;
  }
}

.rtlIcon {
  width: em(30);
  position: absolute;
  right: em(-32);
  bottom: em(-48);

  @include desktop {
    bottom: 2.1em;
    right: 2.3em;
    width: 2.2em;
    height: 2.2em;
  }
}

.sassIcon {
  position: absolute;
  bottom: em(204);
  left: em(-16);
  width: em(80);
  margin: 0;

  @include desktop {
    top: 0;
    left: 12.9em;
    width: 3.8em;
    height: 2.8em;
  }
}


.icon {
  height: auto;

  @include desktop {
    position: absolute;
    margin: 0;
  }
}
